{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "camelcase": "off"
  },
  "plugins": ["prettier"]
}
